<div id = "document_type_list">

  <% document_types.each do |x| %>
    <li><%= x.name %></li>
  <% end %>

  <!-- <table> -->
  <!--   <tr> -->
  <!--     <td>Jill</td> -->
  <!--   </tr> -->
  <!-- </table>  -->


</div>
