<%= render partial: 'revision_heading', locals: {document: @document} %>

<% if @document.content.blank? %>
    todo
<% else %>
    <div class="well">
      <%= @document.content.html_safe %>
    </div>
<% end %>
